.name {
  display: flex;
  align-items: flex-end;
  line-height: 1;
  color: #475666;
}

.name div {
  margin-left: 10px;
}

.userName {
  font-size: 9px;
}

.row,
.rowShifted {
  vertical-align: middle;
  transition: transform 0.2s;
}

.row {
  transform: translateX(0px);
}

.row td:last-child,
.rowShifted td:last-child {
  text-align: center;
}

.row td span {
  display: inline-block;
  overflow-wrap: break-word;
  max-width: 130px;
}

.row td:nth-of-type(2),
.row td:nth-of-type(3),
.rowShifted td:nth-of-type(2),
.rowShifted td:nth-of-type(3) {
  overflow-wrap: break-word;
  max-width: 200px;
}

.rowShifted {
  transform: translateX(-50px);
}

.rowShifted td:not(:last-child) {
  opacity: 0.5;
}

.whiteBackground {
  background: white;
}

/* =============== */
@media screen and (max-width: 767px) {
  .name {
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-items: start;
  }

  .row td:nth-of-type(2),
  .row td:nth-of-type(3) {
    max-width: unset;
  }

  .row td:last-child {
    text-align: center;
  }
}
