.name {
  display: flex;
  align-items: flex-end;
  line-height: 1;
  color: #475666;
}

.name div {
  margin-left: 10px;
}

.row,
.rowShifted {
  vertical-align: middle;
  transition: all 0.2s;
}

.row {
  transform: translateX(0px);
}

.rowShifted {
  transform: translateX(-50px);
}

.rowShifted td:not(:last-child) {
  opacity: 0.5;
}

.whiteBackground {
  background: white;
}
