.name {
  display: inline-block;
  margin-left: 15px;
  line-height: 1;
  color: #475666;
}

.row,
.rowShifted {
  vertical-align: middle;
  transition: all 0.2s;
}

.row {
  transform: translateX(0px);
}

.rowShifted {
  transform: translateX(-50px);
}

.rowShifted td:not(:last-child) {
  opacity: 0.5;
}

.whiteBackground {
  background: white;
}
