.capabilities {
  display: flex;
  justify-content: space-between;
}

.container {
  width: 100%;
  max-width: 300px;
  margin-right: 2rem;
}

.labelWrapper {
  display: flex;
}

.label {
  padding-left: 1rem;
  margin-top: -3px;
}

.inputStyle {
  width: 15px;
  height: 15px;
}

@media screen and (max-width: 767px) {
  .capabilities {
    flex-direction: column;
    align-items: center;
  }

  .container {
    width: 100%;
    max-width: 300px;
    margin-right: 0;
  }
}
