.form {
  margin: 2rem auto 6rem;
  padding-bottom: 45px;
  background: #e7f0ff;
}

.formStep {
  padding: 85px 100px;
}

.buttons {
  margin-right: 105px;
  text-align: right;
}

.btnBack {
  display: inline-block;
  background-color: #c1cfe0;
}

.btnForward {
  margin-left: 110px;
}
