.form {
  margin: 0 auto 6rem;
  padding-bottom: 45px;
  background: #fafcff;
}

.formStep {
  padding: 85px 90px;
}

.buttons {
  margin-right: 105px;
  text-align: right;
}

.btnBack {
  display: inline-block;
  padding: 13px 30px;
  background-color: #c1cfe0;
}

.btnForward {
  margin-left: 90px;
  padding: 13px 30px;
}

@media screen and (max-width: 767px) {
  .form {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
  }

  .formStep {
    padding: 30px;
  }

  .buttons {
    display: flex;
    justify-content: space-around;
    margin-right: 0;
  }

  .btnForward {
    margin-left: 0;
    padding: 13px 30px;
  }
}
