.container {
  text-align: center;
  outline: transparent;
}

.fileInput {
  position: absolute;
  height: 1;
  width: 1;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.label {
  display: block;
  text-align: center;
  margin-right: 10px;
  margin-top: -10px;
  cursor: pointer;
}

.avatarError {
  line-height: 1.2;
  font-size: 0.8rem;
  color: #eb5757;
  max-width: 200px;
}
