.container {
  text-align: center;
}

.fileInput {
  position: absolute;
  height: 1;
  width: 1;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.label {
  display: block;
  text-align: center;
  margin-right: 10px;
  margin-top: -10px;
  cursor: pointer;
}
