.table {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

.thead {
  background: #4e86e4;
}

.tbody:before {
  content: "-";
  display: block;
  line-height: 30px;
  color: transparent;
}

.h2 {
  text-align: center;
  margin: 0 auto !important;
  font-size: 35px;
  font-family: Roboto, Arial, sans-serif;
  color: #475666;
  padding: 2.5rem 0 1.5rem;
}

.generateBtn {
  display: block;
  margin: 1rem auto 3rem;
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}

.paginationItem {
  margin-right: 5px;
  width: 25px;
  height: 25px;
  text-align: center;
  vertical-align: sub;
  background: var(--blue);
}

.paginationItemActive {
  background: blue;
}

.paginationItem a {
  color: white;
}

@media screen and (max-width: 767px) {
  .thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .table tr {
    display: block;
    margin-bottom: 0.625em;
  }

  .table td {
    display: block;
    font-size: 0.8em;
    text-align: right;
  }

  .table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}
