.thead {
  background: #4e86e4;
}

.tbody:before {
  content: "-";
  display: block;
  line-height: 30px;
  color: transparent;
}

.h2 {
  text-align: center;
  margin: 0 auto !important;
  font-size: 35px;
  font-family: Roboto, Arial, sans-serif;
  color: #475666;
  padding: 2.5rem 0 1.5rem;
}
