.textCentered {
  padding: 0 2rem;
  text-align: center;
}

.backToUsers {
  display: flex;
  align-items: center;
}

.h2 {
  margin: 2rem auto;
}

.flex {
  display: flex;
  justify-content: space-around;
}
