.profileDetails table {
  margin-top: 2rem;
  font-weight: 500;
  color: #475666;
}

.profileDetails img {
  padding: 8px;
}

.profileDetails tr {
  vertical-align: top;
}

.profileDetails td {
  border: none;
  text-align: left;
  padding: 0 0 25px 20px;
  line-height: 20px;
}

.profileDetails tr td:first-of-type {
  min-width: 140px;
}

.profileDetails tr td:nth-of-type(2) {
  min-width: 120px;
}

.profileDetails tr td:last-of-type {
  font-weight: 400;
  color: #657c9a;
  max-width: 220px;
  overflow-wrap: break-word;
}

.profileDetails a {
  color: #657c9a;
}

.edit {
  display: inline-block;
  transform: scaleX(-1);
  color: #475666;
}

@media screen and (max-width: 767px) {
  .profileDetails {
    width: 100%;
  }

  .profileDetails tr td {
    padding-left: 10px;
    min-width: unset !important;
  }

  .profileDetails tr td:first-child {
    padding-top: 20px;
    font-weight: bold;
  }

  .profileDetails img {
    width: 160px;
    height: 160px;
  }
}
