/* text input */
.input {
  position: relative;
  margin-bottom: 0;
  background-color: white;
}

.invalid {
  border: 1px solid var(--danger);
}

.required {
  position: absolute;
  right: 0;
  top: 5px;
}

.errorMessage {
  padding-left: 10px;
  font-size: 12px;
  color: var(--danger);
}

.passwordInput {
  position: relative;
}

.password {
  position: absolute;
  right: 10px;
  bottom: 6px;
  font-size: 1.6rem;
  cursor: pointer;
}

.showPassword {
  bottom: 4px;
}
