.wrapper {
  background: radial-gradient(
    50% 28800% at 50% 68.33%,
    #4e86e4 0%,
    #2f68c8 100%
  );
  box-shadow: 0px 1px 5px #c1cede;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 970px;
}

.navbar a {
  display: block;
  padding: 20px;
}

.navLink {
  width: max-content;
  color: #ffffff;
  opacity: 0.5;
  transition: opacity 0.2s;
  text-decoration: none;
}

.navLink:hover {
  opacity: 1;
  transition: opacity 0.2s;
  color: #ffffff;
  text-decoration: none;
}

.navLink svg {
  margin-right: 4px;
}

a.active {
  opacity: 1;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  list-style-type: none;
  width: 300px;
}
