:root {
  --error: #eb5757;
}

label {
  position: relative;
  font-size: 14px;
  font-weight: normal;
  color: #657c9a;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
