:root {
  --danger: #eb5757;
  --light-blue: #e7f0ff;
  --blue: #4e86e4;
}

body {
  font-size: 14px;
  font-weight: normal;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

label {
  position: relative;
  font-size: 14px;
  font-weight: normal;
  color: #657c9a;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

input {
  border: 1px solid #a1c4ff;
}

button {
  border: none;
  outline: transparent;
}

section {
  margin: 0 auto;
  max-width: 970px;
  /* text-align: center; */
}

a {
  outline: transparent;
}

td {
  border: none;
}

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  width: 25px;
  height: 25px;
}

.edit {
  display: inline-block;
  transform: scaleX(-1);
  color: #475666;
}

.required {
  position: absolute;
  right: 0;
  top: 5px;
}


.error {
  line-height: 1;
  font-size: 0.8rem;
  color: #eb5757;
  padding-left: 10px;
  padding-top: 4px;
}
