.deleteBtn {
  padding: 0;
  margin: 0;
  margin-left: 2rem;
  border: none;
  font-size: 12px;
  outline: transparent;
  color: #b1bcc9;
  background: none;
}

.deleteBtnRed {
  color: var(--danger);
}
